In [1]:
from sklearn.metrics import precision_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import recall_score
from sklearn.metrics import classification_report
import pandas as pd
from scipy import stats
from pydataset import data
import numpy as np
import env
import matplotlib.pyplot as plt
import os

import prepare
import acquire
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.ensemble import RandomForestClassifier
import warnings
warnings.filterwarnings('ignore')
from sklearn.neighbors import KNeighborsClassifier

In [2]:
telco_df = acquire.get_telco_data()
telco_df.head()

,Unnamed: 0,customer_id,payment_type_id,internet_service_type_id,contract_type_id,gender,senior_citizen,partner,dependents,tenure,...,contract_type_id.1,paperless_billing.1,gender.1,senior_citizen.1,partner.1,dependents.1,payment_type_id.1,monthly_charges.1,total_charges.1,signup_date
0,0,0002-ORFBO,2,1,2,Female,0,Yes,Yes,9,...,2,Yes,Female,0,Yes,Yes,2,65.6,593.3,2021-04-21 18:07:34
1,1,0003-MKNFE,2,1,1,Male,0,No,No,9,...,1,No,Male,0,No,No,2,59.9,542.4,2021-04-21 18:07:34
2,2,0004-TLHLJ,1,2,1,Male,0,No,No,4,...,1,Yes,Male,0,No,No,1,73.9,280.85,2021-09-21 18:07:34
3,3,0011-IGKFF,1,2,1,Male,1,Yes,No,13,...,1,Yes,Male,1,Yes,No,1,98.0,1237.85,2020-12-21 18:07:34
4,4,0013-EXCHZ,2,2,1,Female,1,Yes,No,3,...,1,Yes,Female,1,Yes,No,2,83.9,267.4,2021-10-21 18:07:34

In [3]:
telco_df.shape

(7043, 35)

In [4]:
telco_df.columns

Index(['Unnamed: 0', 'customer_id', 'payment_type_id',
       'internet_service_type_id', 'contract_type_id', 'gender',
       'senior_citizen', 'partner', 'dependents', 'tenure', 'phone_service',
       'multiple_lines', 'online_security', 'online_backup',
       'device_protection', 'tech_support', 'streaming_tv', 'streaming_movies',
       'paperless_billing', 'monthly_charges', 'total_charges', 'churn',
       'contract_type', 'internet_service_type', 'payment_type',
       'contract_type_id.1', 'paperless_billing.1', 'gender.1',
       'senior_citizen.1', 'partner.1', 'dependents.1', 'payment_type_id.1',
       'monthly_charges.1', 'total_charges.1', 'signup_date'],
      dtype='object')

In [5]:
telco_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                7043 non-null   int64
 1   customer_id               7043 non-null   object
 2   payment_type_id           7043 non-null   int64
 3   internet_service_type_id  7043 non-null   int64
 4   contract_type_id          7043 non-null   int64
 5   gender                    7043 non-null   object
 6   senior_citizen            7043 non-null   int64
 7   partner                   7043 non-null   object
 8   dependents                7043 non-null   object
 9   tenure                    7043 non-null   int64
 10  phone_service             7043 non-null   object
 11  multiple_lines            7043 non-null   object
 12  online_security           7043 non-null   object
 13  online_backup             7043 non-null   object
 14  device_protection         7043 non-null   object
 15  tech_support              7043 non-null   object
 16  streaming_tv              7043 non-null   object
 17  streaming_movies          7043 non-null   object
 18  paperless_billing         7043 non-null   object
 19  monthly_charges           7043 non-null   float64
 20  total_charges             7043 non-null   object
 21  churn                     7043 non-null   object
 22  contract_type             7043 non-null   object
 23  internet_service_type     5517 non-null   object
 24  payment_type              7043 non-null   object
 25  contract_type_id.1        7043 non-null   int64
 26  paperless_billing.1       7043 non-null   object
 27  gender.1                  7043 non-null   object
 28  senior_citizen.1          7043 non-null   int64
 29  partner.1                 7043 non-null   object
 30  dependents.1              7043 non-null   object
 31  payment_type_id.1         7043 non-null   int64
 32  monthly_charges.1         7043 non-null   float64
 33  total_charges.1           7043 non-null   object
 34  signup_date               7043 non-null   object
dtypes: float64(2), int64(9), object(24)
memory usage: 1.9+ MB

In [6]:
telco_df.describe()

,Unnamed: 0,payment_type_id,internet_service_type_id,contract_type_id,senior_citizen,tenure,monthly_charges,contract_type_id.1,senior_citizen.1,payment_type_id.1,monthly_charges.1
count,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000
mean,3521.000000,2.315633,1.872923,1.690473,0.162147,32.371149,64.761692,1.690473,0.162147,2.315633,64.761692
std,2033.283305,1.148907,0.737796,0.833755,0.368612,24.559481,30.090047,0.833755,0.368612,1.148907,30.090047
min,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,18.250000,1.000000,0.000000,1.000000,18.250000
25%,1760.500000,1.000000,1.000000,1.000000,0.000000,9.000000,35.500000,1.000000,0.000000,1.000000,35.500000
50%,3521.000000,2.000000,2.000000,1.000000,0.000000,29.000000,70.350000,1.000000,0.000000,2.000000,70.350000
75%,5281.500000,3.000000,2.000000,2.000000,0.000000,55.000000,89.850000,2.000000,0.000000,3.000000,89.850000
max,7042.000000,4.000000,3.000000,3.000000,1.000000,72.000000,118.750000,3.000000,1.000000,4.000000,118.750000

In [7]:
telco_clean_df = prepare.clean_telco(telco_df)

In [8]:
telco_clean_df.head()

,internet_service_type_id,contract_type_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,...,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type,charge_rank
0,1,2,Female,0,Yes,Yes,9,Yes,No,No,...,Yes,No,Yes,65.6,590.4,No,One year,DSL,Mailed check,b
1,1,1,Male,0,No,No,9,Yes,Yes,No,...,No,Yes,No,59.9,539.1,No,Month-to-month,DSL,Mailed check,b
2,2,1,Male,0,No,No,4,Yes,No,No,...,No,No,Yes,73.9,295.6,Yes,Month-to-month,Fiber optic,Electronic check,a
3,2,1,Male,1,Yes,No,13,Yes,No,No,...,Yes,Yes,Yes,98.0,1274.0,Yes,Month-to-month,Fiber optic,Electronic check,b
4,2,1,Female,1,Yes,No,3,Yes,No,No,...,Yes,No,Yes,83.9,251.7,Yes,Month-to-month,Fiber optic,Mailed check,a

In [9]:
telco_clean_df['charge_rank'] = pd.qcut(telco_clean_df['total_charges'], 4, labels = ['a','b','c','d'])
telco_clean_df

charges_corrected = telco_clean_df[telco_clean_df.total_charges != 0]
charges_corrected['total_charges'].describe()

count    7032.000000
mean     2283.147248
std      2264.703327
min        18.800000
25%       397.800000
50%      1394.575000
75%      3791.250000
max      8550.000000
Name: total_charges, dtype: float64

In [13]:
readable_telco = pd.get_dummies(telco_clean_df[['charge_rank', 'internet_service_type', 'gender', 'senior_citizen', 'partner', 
                                                'contract_type', 'dependents', 'phone_service','multiple_lines',
                                               'online_security', 'online_backup','device_protection','streaming_tv', 
                                                'paperless_billing','churn', 'contract_type','internet_service_type',
                                               'payment_type']],drop_first =  True)
readable_telco = readable_telco.astype(int)
readable_telco

,senior_citizen,charge_rank_b,charge_rank_c,charge_rank_d,internet_service_type_Fiber optic,gender_Male,partner_Yes,contract_type_One year,contract_type_Two year,dependents_Yes,...,streaming_tv_No internet service,streaming_tv_Yes,paperless_billing_Yes,churn_Yes,contract_type_One year,contract_type_Two year,internet_service_type_Fiber optic,payment_type_Credit card (automatic),payment_type_Electronic check,payment_type_Mailed check
0,0,1,0,0,0,0,1,1,0,1,...,0,1,1,0,1,0,0,0,0,1
1,0,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,1,1,0,0,0,0,...,0,0,1,1,0,0,1,0,1,0
3,1,1,0,0,1,1,1,0,0,0,...,0,1,1,1,0,0,1,0,1,0
4,1,0,0,0,1,0,1,0,0,0,...,0,1,1,1,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,0,1,0,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,1
7039,0,0,1,0,1,1,1,0,0,0,...,0,0,1,1,0,0,1,0,1,0
7040,0,0,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
7041,0,0,0,1,0,1,1,0,1,1,...,0,0,0,0,0,1,0,0,0,1
7042,0,0,1,0,0,1,1,0,1,1,...,0,1,0,0,0,1,0,0,1,0

In [14]:
telco_train, telco_val, telco_test = prepare.train_val_test(readable_telco, 'churn_Yes')

In [15]:
telco_train

,senior_citizen,charge_rank_b,charge_rank_c,charge_rank_d,internet_service_type_Fiber optic,gender_Male,partner_Yes,contract_type_One year,contract_type_Two year,dependents_Yes,...,streaming_tv_No internet service,streaming_tv_Yes,paperless_billing_Yes,churn_Yes,contract_type_One year,contract_type_Two year,internet_service_type_Fiber optic,payment_type_Credit card (automatic),payment_type_Electronic check,payment_type_Mailed check
5932,0,1,0,0,1,0,0,0,0,0,...,0,1,1,1,0,0,1,0,1,0
1194,0,1,0,0,0,1,0,0,0,1,...,1,0,0,0,0,0,0,0,0,1
4613,0,0,0,0,0,0,0,0,1,0,...,0,1,1,0,0,1,0,0,0,1
4991,0,0,0,1,1,0,1,0,1,1,...,0,1,0,0,0,1,1,1,0,0
6488,0,1,0,0,1,0,1,0,0,0,...,0,0,1,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2853,0,0,0,0,0,0,0,0,0,0,...,0,0,1,1,0,0,0,0,0,1
5319,1,0,1,0,0,1,0,0,1,0,...,1,0,0,0,0,1,0,1,0,0
1013,1,1,0,0,0,1,1,0,0,0,...,0,0,1,0,0,0,0,1,0,0
182,0,1,0,0,0,1,0,1,0,0,...,0,0,1,0,1,0,0,0,0,0
4374,0,0,0,1,0,0,0,0,1,0,...,0,1,1,0,0,1,0,1,0,0

In [16]:
x_train = telco_train.drop(columns = ['churn_Yes'])
y_train = telco_train['churn_Yes']
x_val = telco_val.drop(columns = ['churn_Yes'])
y_val = telco_val['churn_Yes']
x_test = telco_test.drop(columns = ['churn_Yes'])
y_test = telco_test['churn_Yes']

# Random Forest

In [17]:
seed = 99

rf_telco = RandomForestClassifier(max_depth = 10, random_state = seed, min_samples_leaf = 1, max_samples = 0.5)
bsl = 1-(y_train.sum()/len(y_train))
bsl

0.7342543681430314

In [18]:
for1 = rf_telco.fit(x_train, y_train)

In [19]:
importance_df = pd.DataFrame({'feature': x_train.columns.tolist(), 
              'importance': rf_telco.feature_importances_})

In [20]:
importance_df.sort_values('importance', ascending = False)

                                  feature  importance
26          payment_type_Electronic check    0.086769
8                  contract_type_Two year    0.079397
14                    online_security_Yes    0.058981
4       internet_service_type_Fiber optic    0.054734
7                  contract_type_One year    0.051771
23                 contract_type_Two year    0.050711
3                           charge_rank_d    0.049093
24      internet_service_type_Fiber optic    0.046152
21                  paperless_billing_Yes    0.043231
22                 contract_type_One year    0.041398
2                           charge_rank_c    0.038213
6                             partner_Yes    0.037313
16                      online_backup_Yes    0.037124
5                             gender_Male    0.034216
1                           charge_rank_b    0.033628
12                     multiple_lines_Yes    0.031362
18                  device_protection_Yes    0.030640
9                          dependents_Yes    0.030304
20                       streaming_tv_Yes    0.030189
0                          senior_citizen    0.028797
25   payment_type_Credit card (automatic)    0.022325
17  device_protection_No internet service    0.016318
27              payment_type_Mailed check    0.016212
15      online_backup_No internet service    0.014767
19       streaming_tv_No internet service    0.010518
13    online_security_No internet service    0.009557
10                      phone_service_Yes    0.008918
11        multiple_lines_No phone service    0.007359

In [21]:
print(rf_telco.score(x_train, y_train),rf_telco.score(x_val, y_val))

0.8378707842340511 0.7772511848341233

In [22]:
train_preds = rf_telco.predict(x_train)

In [23]:
pd.DataFrame(classification_report(y_train, train_preds, output_dict = True))

                     0            1  accuracy    macro avg  weighted avg
precision     0.862887     0.744722  0.837871     0.803804      0.831485
recall        0.926397     0.593272  0.837871     0.759835      0.837871
f1-score      0.893515     0.660426  0.837871     0.776970      0.831572
support    3614.000000  1308.000000  0.837871  4922.000000   4922.000000

In [24]:
metrics = []


def depth_n_leaf():
    msl = 1
    i = 3
    while msl <= 10:
        rf = RandomForestClassifier(max_depth = i,
                                    random_state = seed, min_samples_leaf = msl, max_samples = 0.5)
        rf.fit(x_train, y_train)
        train_acc = rf.score(x_train, y_train)
        val_acc = rf.score(x_val, y_val)
        output = {'max_depth': i, 'min_samples_leaf': msl, 'train_accuracy': train_acc, 
                  'validate_accuracy': val_acc}
        metrics.append(output)
        i = i +1
        if i == 11:
            msl = msl + 1
            i = 3


        
depth_n_leaf() 

metrics = pd.DataFrame(metrics)
metrics['difference'] = (metrics['train_accuracy'] - metrics['validate_accuracy'])    
metrics

    max_depth  min_samples_leaf  train_accuracy  validate_accuracy  difference
0           3                 1        0.778545           0.761137    0.017408
1           4                 1        0.782609           0.767773    0.014836
2           5                 1        0.792564           0.784834    0.007730
3           6                 1        0.795205           0.787678    0.007527
4           7                 1        0.807192           0.789573    0.017619
5           8                 1        0.812271           0.786730    0.025542
6           9                 1        0.824462           0.784834    0.039627
7          10                 1        0.837871           0.777251    0.060620
8           3                 2        0.778545           0.761137    0.017408
9           4                 2        0.782609           0.767773    0.014836
10          5                 2        0.792361           0.785782    0.006579
11          6                 2        0.796018           0.785782    0.010236
12          7                 2        0.803941           0.793365    0.010577
13          8                 2        0.814100           0.785782    0.028318
14          9                 2        0.820398           0.792417    0.027981
15         10                 2        0.827712           0.782938    0.044774
16          3                 3        0.778545           0.761137    0.017408
17          4                 3        0.782609           0.767773    0.014836
18          5                 3        0.792767           0.784834    0.007933
19          6                 3        0.796627           0.788626    0.008002
20          7                 3        0.807599           0.787678    0.019921
21          8                 3        0.810849           0.790521    0.020328
22          9                 3        0.817148           0.784834    0.032313
23         10                 3        0.824665           0.780095    0.044570
24          3                 4        0.778545           0.761137    0.017408
25          4                 4        0.782609           0.767773    0.014836
26          5                 4        0.792564           0.785782    0.006782
27          6                 4        0.796831           0.788626    0.008205
28          7                 4        0.805770           0.788626    0.017144
29          8                 4        0.810849           0.797156    0.013693
30          9                 4        0.817148           0.783886    0.033261
31         10                 4        0.819789           0.782938    0.036850
32          3                 5        0.778545           0.761137    0.017408
33          4                 5        0.782609           0.767773    0.014836
34          5                 5        0.791548           0.784834    0.006714
35          6                 5        0.798659           0.786730    0.011929
36          7                 5        0.804145           0.793365    0.010780
37          8                 5        0.810037           0.782938    0.027098
38          9                 5        0.813490           0.785782    0.027708
39         10                 5        0.815928           0.786730    0.029199
40          3                 6        0.778545           0.761137    0.017408
41          4                 6        0.782609           0.767773    0.014836
42          5                 6        0.793174           0.784834    0.008339
43          6                 6        0.797034           0.787678    0.009356
44          7                 6        0.802926           0.792417    0.010509
45          8                 6        0.808208           0.787678    0.020530
46          9                 6        0.812881           0.783886    0.028995
47         10                 6        0.815116           0.786730    0.028386
48          3                 7        0.778545           0.761137    0.017408
49          4                 7        0.782609           0.767773    0.014836
50          5                 7        0.792767           0.785782    0.006985
51          6                 7        0.796221           0.786730    0.009491
52          7                 7        0.803941           0.790521    0.013420
53          8                 7        0.807395           0.787678    0.019718
54          9                 7        0.813287           0.783886    0.029401
55         10                 7        0.816132           0.783886    0.032245
56          3                 8        0.778545           0.761137    0.017408
57          4                 8        0.782609           0.767773    0.014836
58          5                 8        0.792564           0.784834    0.007730
59          6                 8        0.795815           0.786730    0.009085
60          7                 8        0.804551           0.786730    0.017821
61          8                 8        0.806989           0.792417    0.014572
62          9                 8        0.811256           0.788626    0.022630
63         10                 8        0.812678           0.789573    0.023104
64          3                 9        0.778545           0.761137    0.017408
65          4                 9        0.782609           0.767773    0.014836
66          5                 9        0.792158           0.784834    0.007324
67          6                 9        0.797034           0.786730    0.010304
68          7                 9        0.804957           0.783886    0.021071
69          8                 9        0.807599           0.791469    0.016129
70          9                 9        0.807395           0.787678    0.019718
71         10                 9        0.810849           0.787678    0.023172
72          3                10        0.778545           0.761137    0.017408
73          4                10        0.782609           0.767773    0.014836
74          5                10        0.792361           0.783886    0.008475
75          6                10        0.796018           0.783886    0.012132
76          7                10        0.806583           0.788626    0.017957
77          8                10        0.805770           0.786730    0.019040
78          9                10        0.810240           0.789573    0.020666
79         10                10        0.809021           0.789573    0.019447

# Decision Tree

In [25]:
clf = DecisionTreeClassifier(max_depth = 3, random_state = seed)

In [26]:
clf.fit(x_train, y_train)

DecisionTreeClassifier(max_depth=3, random_state=99)

In [27]:
val_preds = clf.predict(x_val)

In [28]:
print(classification_report(y_val, val_preds))

              precision    recall  f1-score   support

           0       0.80      0.93      0.86       775
           1       0.66      0.36      0.46       280

    accuracy                           0.78      1055
   macro avg       0.73      0.65      0.66      1055
weighted avg       0.76      0.78      0.76      1055

In [29]:
clf.score(x_train, y_train)

0.7903291344981714

In [30]:
big_clf = DecisionTreeClassifier(max_depth = 6, random_state = 99)

In [31]:
big_clf.fit(x_train, y_train)

DecisionTreeClassifier(max_depth=6, random_state=99)

In [32]:
big_clf.score(x_train, y_train)

0.8061763510767981

In [33]:
metrics = []

for i in range (1, 25):
    tree = DecisionTreeClassifier(max_depth = i, random_state = 99)
    tree = tree.fit(x_train, y_train)
    in_sample_accuracy = tree.score(x_train, y_train)
    out_of_sample_accuracy = tree.score(x_val, y_val)
    output = {'max_dept': i, 'train_accuracy': in_sample_accuracy, 'validate_accuracy': out_of_sample_accuracy}
    
    metrics.append(output)
    
df= pd.DataFrame(metrics)
df['difference'] = df.train_accuracy - df.validate_accuracy
df

    max_dept  train_accuracy  validate_accuracy  difference
0          1        0.734254           0.734597   -0.000343
1          2        0.770215           0.773460   -0.003244
2          3        0.790329           0.780095    0.010234
3          4        0.790735           0.784834    0.005901
4          5        0.795002           0.789573    0.005429
5          6        0.806176           0.781991    0.024186
6          7        0.812271           0.785782    0.026489
7          8        0.824665           0.781991    0.042674
8          9        0.839293           0.775355    0.063938
9         10        0.854531           0.753555    0.100976
10        11        0.871800           0.755450    0.116350
11        12        0.889476           0.749763    0.139713
12        13        0.906948           0.761137    0.145811
13        14        0.918732           0.755450    0.163282
14        15        0.925843           0.745024    0.180819
15        16        0.931126           0.749763    0.181363
16        17        0.933564           0.743128    0.190436
17        18        0.934376           0.745024    0.189353
18        19        0.934579           0.740284    0.194295
19        20        0.934579           0.744076    0.190504
20        21        0.934579           0.745024    0.189556
21        22        0.934579           0.745024    0.189556
22        23        0.934579           0.745024    0.189556
23        24        0.934579           0.745024    0.189556

# KNN

In [34]:
knn = KNeighborsClassifier(n_neighbors = 5)
knn.fit(x_train, y_train)

KNeighborsClassifier()